VITE_SUPABASE_URL=https://dhfjmbqljsqkgixbkgkd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoZmptYnFsanNxa2dpeGJrZ2tkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NDIwODksImV4cCI6MjA5MjMxODA4OX0.TdyiZOmtiO68i8IwcPMwUQ4FG6QTVj8HFuoI8mVoQ5U
VITE_APP_STAGE=Development
VITE_APP_VERSION=0.0.1
VITE_SUPPORT_EMAIL=support@getcoreviatechnologies.com
